extends layout

block content
  .container-fluid
    a(href="/portal/create/remove") 
      button.btn.btn-danger 删除数据
    a(href="/portal/create/createdShopData") 
      button.btn.btn-primary 创建门店及活动
    a(href="/portal/create/createdMenuData") 
      button.btn.btn-primary 创建菜单
    a(href="/portal/create/createdFoodData") 
      button.btn.btn-primary 创建食物