doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='http://www.datatables.club/js/datatables/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    #ele-container
      #ele-sidebar
        ul
          li(data-id="user")
            a(href='/portal/user') 用户
          li(data-id="shop")
            a(href='/portal/shop') 店铺
          li(data-id="activity")
            a(href='/portal/activity/list') 活动
          li(data-id="menu")
            a(href='/portal/menu/list') 食物分类
          li(data-id="food")
            a(href='/portal/food/list') 食物
          li(data-id="create")
            a(href='/portal/create') 创建数据
      #ele-content
        block content
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
    script(src="http://www.datatables.club/js/datatables/bootstrap.datatables.js")
    script(src="/js/main.js")
    script.
      $(document).ready(function(){
        const host = window.location.host;
        const href = window.location.href;
        const url = href.split(host)[1];
        $('#ele-sidebar li').each(function() {
          const id = $(this).data('id');
          if (url.indexOf(id) >= 0) {
            $(this).addClass('active')
          }
        })
      });
    block scripts
