/* 
  primary color: #337ab7
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.datatable .ele-form--checkbox input {
  z-index: 0;
}
.navbar-default {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #337ab7;
}
.ele-text--primary { color: #337ab7;}

#ele-navbar li.active a {
  background-color: #337ab7;
  color: #fff;
}

#ele-container {
  width: 100%;
  height: 100%;
  /* display: -webkit-flex;
  display: flex; */
}
#ele-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #494848;
  color: #fff;
}
#ele-sidebar a {
  color: #fff;
  padding: 15px;
  text-align: center;
  display: block;
  font-size: 16px;
}
#ele-sidebar li.active a {
  background-color: #000;
}
#ele-content {
  margin-left: 200px;
}
.ele-content{
  margin: 20px;
}
.ele-content-header {
  margin-bottom: 10px;
}
.ele-content-header .btn {
  margin-right: 10px;
}
#ele-navbar {
  /* position: fixed; */
  top: 0;
  left: 200px;
  padding: 0;
  border-bottom: 1px solid #337ab7;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  z-index: 111;
}
#ele-navbar .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}
.ele-form {
  width: 60%;
  min-width: 300px;
  margin: 15px auto;
}
.ele-form-header {
  margin-top: 10px;
}
.ele-form-header__btn {
  position: absolute;
  right: 10px;
}
.ele-form-header__btn .btn {
  margin-left: 10px;
}
.ele-form .ele-form--checkbox.form-control {
  border: none;
  box-shadow: none;
  padding-left: 0;
  line-height: 30px;
}
.ele-form--checkbox {
  height: 22px;
  line-height: 22px;
  display: inline-block;
  position: relative;
}
.ele-form--checkbox input{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}
.ele-form--checkbox input[type="checkbox"] + span{
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  margin-top: 3px;
  margin-right: 5px;
}
.modal-checkbox .ele-form--checkbox {
  margin-right: 20px;
}
.ele-form--checkbox span:last-child {
  vertical-align: super;
}

.ele-form--checkbox input[type="checkbox"] + span:before {
  content: '';
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  position: absolute;
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}
.ele-form--checkbox input[type="checkbox"] + span:after {
  content: '';
  width: 4px;
  height: 8px;
  border: 1px solid #fff;
  transform: rotate(45deg) scale(0);
  display: block;
  position: absolute;
  border-top: none;
  border-left: none;
  top: -4px;
  left: -1px;
  margin: auto;
  right: 0;
  bottom: 0;
}
.ele-form--checkbox input[type="checkbox"]:checked + span:before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.ele-form--checkbox input[type="checkbox"]:checked + span:after {
  transform: rotate(45deg) scale(1);
  transition: all .2s ease-in-out;
}
.form-horizontal .control-label.is-required:after {
  content: '*';
  color: red;
}

.ele-active-shop li {
  display: inline-block;
  margin: 10px;
}