extends ../layout

block content
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#ele-navbar', aria-controls='bs-navbar', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #ele-navbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li(data-id="menu/list")
        a(href=`/portal/menu/list${shop && !shop.isNew ? '/' + shop._id : ''}`)
          | 菜单列表
      li(data-id="menu/form")
        a(href=`/portal/menu/form/${shop && !shop.isNew ? shop._id : '0'}`)
          | 添加菜单
      - if (menu && !menu.isNew)
        li.active(data-id="menu/edit")
          a(href='#')
            | 编辑菜单
      
  block subContent
block scripts
  script.
    $(document).ready(function(){
      const host = window.location.host;
      const href = window.location.href;
      const url = href.split(host)[1];
      $('#ele-navbar li').each(function() {
        const id = $(this).data('id');
        console.log(id, url, url.indexOf(id));
        if (url.indexOf(id) >= 0) {
          $(this).addClass('active')
        }
      })
    });
